* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  width: 100%; }

body {
  height: 100%;
  width: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  background: #989898;
  overflow-y: scroll; }

div.progressbar {
  background: #e0e0e0;
  background: -moz-linear-gradient(top, #e0e0e0 0%, #ebebeb 20%, #cccccc 50%, gainsboro 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e0e0), color-stop(20%, #ebebeb), color-stop(50%, #cccccc), color-stop(100%, gainsboro));
  background: -webkit-linear-gradient(top, #e0e0e0 0%, #ebebeb 20%, #cccccc 50%, gainsboro 100%);
  background: -o-linear-gradient(top, #e0e0e0 0%, #ebebeb 20%, #cccccc 50%, gainsboro 100%);
  background: -ms-linear-gradient(top, #e0e0e0 0%, #ebebeb 20%, #cccccc 50%, gainsboro 100%);
  background: linear-gradient(to bottom, #e0e0e0 0%, #ebebeb 20%, #cccccc 50%, gainsboro 100%);
  height: 15px;
  width: 100%; }
  div.progressbar span {
    display: block;
    float: left;
    height: 100%;
    margin: 0;
    padding: 0; }
  div.progressbar .used, div.progressbar .usage {
    background: #afe07f;
    background: -moz-linear-gradient(top, #afe07f 0%, #c6eba1 20%, #77aa33 50%, #a6d972 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #afe07f), color-stop(20%, #c6eba1), color-stop(50%, #77aa33), color-stop(100%, #a6d972));
    background: -webkit-linear-gradient(top, #afe07f 0%, #c6eba1 20%, #77aa33 50%, #a6d972 100%);
    background: -o-linear-gradient(top, #afe07f 0%, #c6eba1 20%, #77aa33 50%, #a6d972 100%);
    background: -ms-linear-gradient(top, #afe07f 0%, #c6eba1 20%, #77aa33 50%, #a6d972 100%);
    background: linear-gradient(to bottom, #afe07f 0%, #c6eba1 20%, #77aa33 50%, #a6d972 100%); }
  div.progressbar .buffers {
    background: #80a0e0;
    background: -moz-linear-gradient(top, #80a0e0 0%, #a1b9eb 20%, #3363ab 50%, #7795d9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #80a0e0), color-stop(20%, #a1b9eb), color-stop(50%, #3363ab), color-stop(100%, #7795d9));
    background: -webkit-linear-gradient(top, #80a0e0 0%, #a1b9eb 20%, #3363ab 50%, #7795d9 100%);
    background: -o-linear-gradient(top, #80a0e0 0%, #a1b9eb 20%, #3363ab 50%, #7795d9 100%);
    background: -ms-linear-gradient(top, #80a0e0 0%, #a1b9eb 20%, #3363ab 50%, #7795d9 100%);
    background: linear-gradient(to bottom, #80a0e0 0%, #a1b9eb 20%, #3363ab 50%, #7795d9 100%); }
  div.progressbar .cache {
    background: #e0b880;
    background: -moz-linear-gradient(top, #e0b880 0%, #ebcca1 20%, #ab7133 50%, #d9af73 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0b880), color-stop(20%, #ebcca1), color-stop(50%, #ab7133), color-stop(100%, #d9af73));
    background: -webkit-linear-gradient(top, #e0b880 0%, #ebcca1 20%, #ab7133 50%, #d9af73 100%);
    background: -o-linear-gradient(top, #e0b880 0%, #ebcca1 20%, #ab7133 50%, #d9af73 100%);
    background: -ms-linear-gradient(top, #e0b880 0%, #ebcca1 20%, #ab7133 50%, #d9af73 100%);
    background: linear-gradient(to bottom, #e0b880 0%, #ebcca1 20%, #ab7133 50%, #d9af73 100%); }

a, a:visited, a:active {
  color: #3464d0; }

#live_graph {
  height: 500px; }

.mac, .ip {
  font-family: monospace; }

#container {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  min-height: 80%;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px; }

#main {
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-flex: 1;
  -moz-box-flex: 1; }

#system {
  min-width: 20%;
  border: 1px solid black;
  border-bottom-left-radius: 15px;
  margin-right: 25px; }

#clients {
  margin-left: 25px;
  min-width: 20%;
  border: 1px solid black;
  border-bottom-right-radius: 15px; }

/* Do not specify the background color in #container so it won't flow
   outside of the rounded borders */
#system, #clients {
  background-color: white; }

#display {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  background-color: white;
  border: 1px solid black; }

#system, #clients, #display, #navigation {
  box-shadow: 5px 5px 5px #444; }

.group h1, #navigation {
  font-size: 14pt;
  padding: 2px;
  text-align: center;
  background: #333333;
  background: -moz-linear-gradient(top, #333333 10%, #00002b 50%, #333333 90%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #333333), color-stop(50%, #00002b), color-stop(90%, #333333));
  background: -webkit-linear-gradient(top, #333333 10%, #00002b 50%, #333333 90%);
  background: -o-linear-gradient(top, #333333 10%, #00002b 50%, #333333 90%);
  background: -ms-linear-gradient(top, #333333 10%, #00002b 50%, #333333 90%);
  background: linear-gradient(to bottom, #333333 10%, #00002b 50%, #333333 90%);
  color: white; }

.group h2 {
  font-size: 12pt;
  text-align: left;
  padding: 2px; }

.group p {
  padding: 5px; }

table {
  border-spacing: 0;
  width: 100%; }

th {
  text-align: left;
  background-color: #ebedef;
  border-bottom: 1px solid #bdbdbd; }

td, th {
  padding: 2px 5px 2px 5px;
  vertical-align: top; }

table#active_connections tr.established, table#active_connections tr.assured {
  background-color: #88ffaf; }
table#active_connections tr.time_wait, table#active_connections tr.close {
  background-color: #d0d0d0; }
table#active_connections tr.unreplied {
  background-color: #ff9292; }
table#active_connections tr.syn_sent, table#active_connections tr.syn_recv {
  background-color: #c1cdff; }

table.information th {
  text-align: left;
  vertical-align: top;
  padding-right: 10px; }
table.information > tbody > tr > th {
  min-width: 100px; }

#clients table tbody tr:hover, table#active_connections tbody tr:hover, table#port_forwards tbody tr:hover {
  background-color: #eff2f2; }

table.system_information > tbody > tr > th {
  width: 7em; }

table.vertical th {
  border-bottom: none;
  border-right: 1px solid #bdbdbd; }

#clients table {
  max-height: 1px; }
  #clients table td.up, #clients table td.down {
    width: 7em; }

.scrollable_table {
  overflow-y: auto; }

.system_information table.memory_usage {
  margin-top: 10px;
  display: none; }
.system_information .progressbar:nth-child(2) {
  margin-top: 5px; }

#navigation {
  height: 30px;
  padding: 0;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
  border: 1px solid black;
  color: white; }
  #navigation ul {
    list-style-type: none;
    height: 100%; }
  #navigation li {
    display: inline-block;
    padding-right: 12px;
    padding-left: 12px;
    height: 100%;
    width: 7em;
    line-height: 30px;
    vertical-align: middle;
    border-right: 1px solid #bdbdbd; }
    #navigation li a {
      display: block;
      color: inherit;
      text-decoration: none; }
      #navigation li a:hover {
        color: #3464d0; }
    #navigation li:first-child {
      border-left: 1px solid #bdbdbd; }
    #navigation li:last-child {
      margin-right: 0; }

#nat, #tools {
  display: none; }

table.tablesorter {
  text-align: left; }
  table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    padding: 4px; }
  table.tablesorter thead tr .tablesorter-header {
    background-image: url(/img/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer; }
  table.tablesorter thead tr .tablesorter-headerSortUp {
    background-image: url(/img/asc.gif); }
  table.tablesorter thead tr .tablesorter-headerSortDown {
    background-image: url(/img/desc.gif); }
  table.tablesorter tbody td {
    padding: 4px;
    vertical-align: top; }
